FIPS county code: Federal Information Processing Standard code

Reference:
- pandas melt and merge: https://pandas.pydata.org/docs/reference/api/pandas.melt.html 
- combined key: https://console.cloud.google.com/bigquery?p=bigquery-public-data&d=covid19_jhu_csse&t=summary&page=table&project=brave-aileron-305121&ws=!1m5!1m4!4m3!1sbigquery-public-data!2scovid19_jhu_csse!3ssummary

Prerequisite: `! pip install sqlalchemy psycopg2`

In [23]:
import pandas as pd
import sqlalchemy

# Data Pre-processing

In [6]:
df = pd.read_csv('covid_confirmed_cdc.csv')

In [7]:
df.head()

,fips_code,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,...,2021-06-26,2021-06-27,2021-06-28,2021-06-29,2021-06-30,2021-07-01,2021-07-02,2021-07-03,2021-07-04,2021-07-05
0,1001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.4,0.4,0.7,0.7,1.9,1.9,2.6,2.6,2.6,2.1
1,1003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,11.0,12.0,12.0,15.1,15.1,14.0,14.0,14.0,8.3
2,1005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.1,0.1,0.3,0.3,0.4,0.4,0.4,0.3
3,1007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.1,0.1,0.3,0.3,1.0,1.0,1.0,1.0,1.0,0.9
4,1009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.1,3.1,3.6,3.6,4.3,4.3,3.0,3.0,3.0,1.9

In [10]:
len(df)

3142

In [24]:
var_name = pd.read_csv('chr_life.csv')

In [11]:
df = df.groupby('fips_code', as_index=False).sum()

In [13]:
df = df.melt(id_vars=['fips_code'],value_name='Count')

In [17]:
df.tail()

         fips_code    variable  Count
1668397      56037  2021-07-05    7.0
1668398      56039  2021-07-05    0.1
1668399      56041  2021-07-05    0.4
1668400      56043  2021-07-05    0.1
1668401      56045  2021-07-05    0.7

In [18]:
df.columns = ['fips_code', 'Date', 'Count']
df['Date'] = pd.to_datetime(df['Date'])

In [20]:
df.tail(5)

         fips_code       Date  Count
1668397      56037 2021-07-05    7.0
1668398      56039 2021-07-05    0.1
1668399      56041 2021-07-05    0.4
1668400      56043 2021-07-05    0.1
1668401      56045 2021-07-05    0.7

In [21]:
df['type'] = 'Confirmed'
df['Source'] = 'CDC'

In [22]:
df.tail()

         fips_code       Date  Count       type Source
1668397      56037 2021-07-05    7.0  Confirmed    CDC
1668398      56039 2021-07-05    0.1  Confirmed    CDC
1668399      56041 2021-07-05    0.4  Confirmed    CDC
1668400      56043 2021-07-05    0.1  Confirmed    CDC
1668401      56045 2021-07-05    0.7  Confirmed    CDC

In [28]:
var_name.head()

   FIPS    State   County  LfExpRt  SlfHlthPrc
0    48    Texas      NaN     79.1          21
1  1000  Alabama      NaN     75.4          22
2  1001  Alabama  Autauga     76.9          21
3  1003  Alabama  Baldwin     78.5          18
4  1005  Alabama  Barbour     75.3          30

In [30]:
a = var_name[var_name['FIPS']==1000]['State']
a

1    Alabama
Name: State, dtype: object

## Test

In [31]:
test_df = df.tail()
test_df

         fips_code       Date  Count       type Source
1668397      56037 2021-07-05    7.0  Confirmed    CDC
1668398      56039 2021-07-05    0.1  Confirmed    CDC
1668399      56041 2021-07-05    0.4  Confirmed    CDC
1668400      56043 2021-07-05    0.1  Confirmed    CDC
1668401      56045 2021-07-05    0.7  Confirmed    CDC

In [44]:
var_name = var_name[['FIPS','State', 'County']].rename(columns={'FIPS':'fips_code'})
# to avoid repeated county name, use combined_key ()
var_name['Combined_key'] = var_name['County'] + ', ' + var_name['State']
var_name

      fips_code    State      County         Combined_key
0            48    Texas         NaN                  NaN
1          1000  Alabama         NaN                  NaN
2          1001  Alabama     Autauga     Autauga, Alabama
3          1003  Alabama     Baldwin     Baldwin, Alabama
4          1005  Alabama     Barbour     Barbour, Alabama
...         ...      ...         ...                  ...
3189      56037  Wyoming  Sweetwater  Sweetwater, Wyoming
3190      56039  Wyoming       Teton       Teton, Wyoming
3191      56041  Wyoming       Uinta       Uinta, Wyoming
3192      56043  Wyoming    Washakie    Washakie, Wyoming
3193      56045  Wyoming      Weston      Weston, Wyoming

[3194 rows x 4 columns]

In [48]:
merged_df = pd.merge(df, var_name, on='fips_code', how='left')
merged_df

,fips_code,Date,Count,type,Source,State,County,Combined_key
0,1001,2020-01-22,0.0,Confirmed,CDC,Alabama,Autauga,"Autauga, Alabama"
1,1003,2020-01-22,0.0,Confirmed,CDC,Alabama,Baldwin,"Baldwin, Alabama"
2,1005,2020-01-22,0.0,Confirmed,CDC,Alabama,Barbour,"Barbour, Alabama"
3,1007,2020-01-22,0.0,Confirmed,CDC,Alabama,Bibb,"Bibb, Alabama"
4,1009,2020-01-22,0.0,Confirmed,CDC,Alabama,Blount,"Blount, Alabama"
...,...,...,...,...,...,...,...,...
1668397,56037,2021-07-05,7.0,Confirmed,CDC,Wyoming,Sweetwater,"Sweetwater, Wyoming"
1668398,56039,2021-07-05,0.1,Confirmed,CDC,Wyoming,Teton,"Teton, Wyoming"
1668399,56041,2021-07-05,0.4,Confirmed,CDC,Wyoming,Uinta,"Uinta, Wyoming"
1668400,56043,2021-07-05,0.1,Confirmed,CDC,Wyoming,Washakie,"Washakie, Wyoming"
1668401,56045,2021-07-05,0.7,Confirmed,CDC,Wyoming,Weston,"Weston, Wyoming"

In [54]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1668402 entries, 0 to 1668401
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   fips_code     1668402 non-null  int64
 1   Date          1668402 non-null  datetime64[ns]
 2   Count         1668402 non-null  float64
 3   type          1668402 non-null  object
 4   Source        1668402 non-null  object
 5   State         1668402 non-null  object
 6   County        1668402 non-null  object
 7   Combined_key  1668402 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 114.6+ MB

# Connect to database

In [36]:
# Create the engine to connect to the PostgreSQL database --I am connecting to the server running on WSL
engine = sqlalchemy.create_engine('postgresql://postgres:1125@localhost:5433/test')

In [37]:
print(engine.table_names())

['spatial_ref_sys', 'savannah']

In [52]:
# if_exists='append', 'fail', or 'replace'
merged_df.to_sql(con=engine,name='covid',if_exists='append')

In [53]:
print(engine.table_names())

['covid', 'spatial_ref_sys', 'savannah']

# Read Data from database
We can also look at data directly from pgadmin!

In [55]:
from sqlalchemy import MetaData, Table

In [57]:
metadata = MetaData()
covid = Table('covid', metadata,
              autoload=True, autoload_with=engine)
print(repr(covid))

Table('covid', MetaData(bind=None), Column('index', BIGINT(), table=<covid>), Column('fips_code', BIGINT(), table=<covid>), Column('Date', TIMESTAMP(), table=<covid>), Column('Count', DOUBLE_PRECISION(precision=53), table=<covid>), Column('type', TEXT(), table=<covid>), Column('Source', TEXT(), table=<covid>), Column('State', TEXT(), table=<covid>), Column('County', TEXT(), table=<covid>), Column('Combined_key', TEXT(), table=<covid>), schema=None)